@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.unbounded{
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}